.profile {
  &__user-data {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h1,
  h2 {
    margin: 0;
  }

  h1 {
    font-size: 1em;
  }

  h2 {
    font-size: 0.6em;
  }

  p {
    font-size: 0.5em;
  }

  textarea {
    margin-top: 2rem;
    border-radius: 8px;
    height: 160px;
    background-color: white;
    padding: 0.5rem;
    color: black;
  }
}
