#app {
  height: 100%;
}

.full-height {
  height: 100%;
}

label {
  display: inherit;
  font-size: 16px;
  text-transform: uppercase;
  text-align: left;
}

textarea,
input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px solid white;
  color: white;

  &:focus {
    border: none;
    outline: 0;
    border-bottom: 1px solid blue;
  }
}

.p-0 {
  padding: 0;
}

.p-2 {
  padding: 2rem;
}

button {
  margin-top: 1em;
  padding: 0.5em;
  font-size: 12px;
  border-radius: 6px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    color: blue;
    border: 2px solid blue;
  }
}

.react-tabs {
  -webkit-tap-highlight-color: transparent;

  &__tab-list {

    margin: 0 0 10px;
    padding: 0;
  }

  &__tab {
    display: inline-block;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    position: relative;
    list-style: none;
    padding: 6px 12px;
    cursor: pointer;
    width: 197px;
    margin: 0 20px 0 0;
    
    &--selected {
      background: #1da1f2;
      border-color: #aaa;
      color: white;
      border-radius: 5px 5px;
    }

    &--disabled {
      color: gray;
      cursor: default;
    }

    &:focus {
      box-shadow: 0 0 5px hsl(208, 99%, 50%);
      border-color: hsl(208, 99%, 50%);
      outline: none;

      &:after {
        content: "";
        position: absolute;
        height: 5px;
        left: -4px;
        right: -4px;
        bottom: -5px;
        background: #fff;
      }
    }
  }

  &__tab-panel {
    display: none;

    &--selected {
      display: block;
    }
  }
}

.tab-title {
  justify-content: center;
}